/* CSS for FilterComponent and SearchBarComponent containers */

.search-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the spacing between elements */
  height: 40px; /* Set the height as needed */
  margin-bottom: 10px; /* Add margin at the bottom for separation */
}
.filter-container{
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the spacing between elements */
  height: 40px; /* Set the height as needed */
  margin-bottom: 10px; /* Add margin at the bottom for separation */
}

/* Styles for select elements */
.filter-container select,
.search-container select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100%; /* Make select elements take up the full container height */
  flex: 1; /* Allow the select element to grow and fill available space */
}

/* Styles for buttons */
.filter-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
.search-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
/* Hover effect for buttons */
.filter-container button:hover,
.search-container button:hover {
  background-color: #0056b3; /* Change color on hover */
}

/* Adjust button styles as needed */
.search-container input{
  font-size: smaller;

}