/* Add this CSS to your common.css file */

/* Common styles */
.AppContainer {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.LeftSection {
  flex: 1;
}
.main-div{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
  margin-left: 33em;
  margin-top: 9em;
 
  
}

.RightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  margin-top: 5em;
  margin-left: 25em;
  height: 100%;
}

.SigninForm {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5em;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}

.input-group input {
  border: none;
  outline: none;
  background: #F7F9FB !important;
  border-color: #ffff;
  width: 100%;
 
}

.input-group i {
  font-size: 18px;
  margin-right: 10px;
  color: #777;
}

/* Button styles */
.btn1-signin,
.btn2-signin {
  background-color: #31119b;
  border: 2px solid #31119b;
  border-radius: 0px !important;
  height: 50px;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* .btn1-signin i,
.btn2-signin i {
  margin-left: 10px;
}

.btn1-signin:after,
.btn2-signin:after {
  content: '\2192';
  margin-left: 10px;
}

.btn2-signin {
  color: #31119b;
}

.btn1-signin:hover,
.btn2-signin:hover {
  border-color: #31119b;
  color: #31119b;
} */

/* Signup link styles */
.SignUpLink {
  margin-top: 10px;
}

.SignUpLink a {
  text-decoration: none;
  color: white;
}

/* Material Design Text Field Styles */
.material-text-field {
  display: block;
  position: relative;
  margin-bottom: 24px;
}

.material-text-field label {
  color: rgba(36, 36, 36, 0.54);
  font-size: 10px;
  font-weight: 400;
}

.material-text-field .MuiInputBase-root {
  border-radius: 4px;
  background-color: #fff;
}

.material-text-field .MuiOutlinedInput-root {
  border-radius: 4px;
  padding: 0;
}

.material-text-field .MuiOutlinedInput-input {
  padding: 12px 16px;
  font-size: 16px;
}

.material-text-field .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.23);
}

.material-text-field .MuiInputLabel-outlined {
  transform: translate(14px, 12px) scale(1);
}

.material-text-field .MuiInputLabel-shrink {
  transform: translate(14px, -6px) scale(0.75);
}

.material-text-field .MuiInputLabel-formControl {
  top: 0;
  left: 0;
}

.material-text-field .MuiInputBase-root.Mui-focused {
  background-color: #fff;
}

.material-text-field .MuiInputLabel-root.Mui-focused {
  color: #3f51b5;
}

/* Material Design Error Text Styles */
.material-error-text {
  color: #f44336;
  font-size: 0.75rem;
  margin-top: 4px;
  font-weight: 400;
}

/* Responsive styles */

/* Center the content vertically and horizontally */
.RightSection {
  justify-content: center;
  align-items: center;
}

/* Adjust form width on smaller screens */
@media screen and (max-width: 768px) {
  .SigninForm {
    max-width: 80%;
  }
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(-45deg, #e91e63, #d84778, #251e5f, #19105B);
  background-size: 400% 400%;
  animation: gradientAnimation 50s ease infinite;
}

.heading-sign {
  color: #19105B;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}